* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111116;
    color: white;
    min-height: 100vh;
}

/* Háttér */

.container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background:
        radial-gradient(
            circle at top,
            rgba(255, 180, 40, 0.10),
            transparent 35%
        ),
        #111116;
}

/* Regisztrációs kártya */

.register-box {
    width: 100%;
    max-width: 500px;

    background: #1a1a21;

    padding: 40px;

    border-radius: 20px;

    border: 1px solid rgba(255, 183, 50, 0.15);

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.5),
        0 0 30px rgba(255, 180, 40, 0.04);
}

/* Logó */

.logo-container {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;
}

.logo-container img {
    width: 150px;
    height: 150px;

    object-fit: contain;

    border-radius: 20px;
}

/* Cím */

h1 {
    text-align: center;

    font-size: 32px;

    margin-bottom: 5px;
}

.slogan {
    text-align: center;

    color: #e5a928;

    font-size: 14px;

    margin-bottom: 35px;
}

/* Regisztráció cím */

h2 {
    text-align: center;

    font-size: 24px;

    margin-bottom: 25px;
}

/* Inputok */

.input-group {
    margin-bottom: 18px;
}

label {
    display: block;

    margin-bottom: 7px;

    font-size: 14px;

    color: #d8d8d8;
}

input {
    width: 100%;

    padding: 14px 16px;

    background: #111116;

    border: 1px solid #33333d;

    border-radius: 10px;

    color: white;

    font-size: 15px;

    outline: none;

    transition: 0.2s;
}

input::placeholder {
    color: #77777f;
}

input:focus {
    border-color: #e5a928;

    box-shadow:
        0 0 0 3px rgba(229, 169, 40, 0.10);
}

/* Gomb */

button {
    width: 100%;

    margin-top: 10px;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: #e5a928;

    color: #111116;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #f5bd3b;

    transform: translateY(-2px);

    box-shadow:
        0 8px 20px rgba(229, 169, 40, 0.20);
}

button:active {
    transform: translateY(0);
}

/* Bejelentkezés */

.login-text {
    text-align: center;

    margin-top: 25px;

    color: #888891;

    font-size: 14px;
}

.login-text a {
    color: #e5a928;

    text-decoration: none;

    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

/* Telefon */

@media (max-width: 600px) {

    .container {
        padding: 15px;
    }

    .register-box {
        padding: 30px 20px;
    }

    h1 {
        font-size: 27px;
    }

    .logo-container img {
        width: 125px;
        height: 125px;
    }
}